/*  */
a.btn{
    position: absolute;
    top: 16.5%;
    left: 80px; 
    z-index: 1;
}

h1.Ba{
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 50px;
    text-align: Center;
}
h2.Ba{
    position: relative;
    top:-18%;
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 20px;
    text-align: Center;
 
    
}

.TituloBack {
    background-color: #0D436B;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  
   
    height: 40%;
    width: 100%;
    
    z-index: -1; 

    /*Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.InfInc{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #e9f1f8;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  

    height: 60%;
    width: 50%;
    
    margin: auto;
    margin-top: -7%;
    box-shadow: 0 9px 18px #00000080; 
}
td{
    height: 100%;
    width: 30%;
}

/* Reportes Total */
.Ntotal{
    font-size: 130px;
    color: #A42FC1;
    text-align: center;
    font-family:'Nunito Sans',Arial;
    padding-left: 55%;
    margin-bottom: -10%;
}
.NRTotal{
    font-size: 40px;
    color: #A42FC1;
    padding-left: 80%;
    margin: 10% 0 -10% 0;
}
.tnormal1{
    font-size: 22px;
    text-align: center;
    font-family:'Nunito Sans',Arial;
    padding-left: 100%;
}


/* Reportes Progreso */
.NPtotal{
    font-size: 90px;
    color: #0DA2AB;
    font-family:'Nunito Sans',Arial;
}
.NPRTotal{
    font-size: 30px;
    color: #0DA2AB;
    margin-left: -50%;
    margin-top: -35%;
    
}
.tnormal2{
    font-size: 18px;
    text-align: center;
    font-family:'Nunito Sans',Arial;
    margin-top: -15%;
    margin-left: -120%;
}

/* Reportes Aceptados */
.NAtotal{
    font-size: 90px;
    color: #1F8435;
    text-align: center;
    font-family:'Nunito Sans',Arial;
    margin: -50% 0 0 -90%;
}
.NARTotal{
    font-size: 30px;
    color: #1F8435;
    margin: -40% 0 0 -20%;
    
}
.tnormal3{
    font-size: 18px;
    text-align: center;
    font-family:'Nunito Sans',Arial;
    margin-top: -7%;
    margin-left: -40%;
}
