/*  */
a.btn{
    position: absolute;
    top: 16.5%;
    left: 80px; 
    z-index: 1;
}

h1.Ba{
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 50px;
    text-align: Center;
    margin-top: -1%;
}
h2.Ba{
    position: relative;
    top:-13%;
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 1.5rem;
    text-align: Center;
 
    
}

.btn img{
    margin-top: -70%;
}

h1.Be{
    font-family: 'Nunito Sans';
    color: #000000;
    font-size: 30px;
    text-align: Center;
    margin-top: -2%;
}

.TituloBack {
    background-color: #0D436B;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  
   
    height: 30%;
    width: 101.5%;
    
    z-index: -1; 

    /*Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -0.8%;
    margin-left: -0.8%;
}
 
.Formulario form {
    max-width: 100%; /* El formulario no será más ancho que el contenedor */
    max-height: 100%; /* El formulario no será más alto que el contenedor */
    display: flex; /* Para que los elementos del formulario se distribuyan horizontalmente */
    flex-direction: column;
}


table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    text-align: center;
    
}

.celdaImagen{
    background-color: #01060a3a;
    width: 40%; 
    border-radius: 10%;  
    height: 40%;
}



.Com{
    width: 80%;
    height: 80%;
}

td.sp{
    font-size: 'Nunito Sans';
    color: #656F77;
    font-size: 18px;
    width: 25%;
    height: 1rem;
  
}

input[type="submit"] {
    background-color: #0D436B; 
    color: #ffffff;
    border: none;

    padding: 15px 32px;
    text-align: center; 

    display: inline-block; 
    font-size: 20px; 
    margin: 1%;
    margin-top: 3%;

    cursor: pointer;
    border-radius: 10px; 

    width: 30%;
  }

  input[type="submit"]:hover {
    background-color: #2f6a94;
  }



.InfInc{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #ffffff;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  

    width: 90%; 
    height: 70%;
    margin: auto; 

}
.Cate{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #e9f1f8;
    box-shadow: 0 9px 18px #00000080; 

    font-family: 'Nunito Sans';
    border-radius: 80px;  

    width: 80%; 
    height: 18%;
    margin: auto; 
}

.Comen{
    display: flex;
    font-family: 'Nunito Sans';
    background-color: #ffffff;

    width: 80%;
    max-width: 80%;
    height: 80%;
    max-width: 80%;
    margin: auto;

    border: 1px solid #000000;
    overflow-y: scroll;

}

.Comen p{
    text-align: justify;
    padding: 0 10px 0 10px;
    
}
