.TituloBack {
    background-color: #0D436B;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  
   
    height: 20%;
    width: 101.5%;
    
    z-index: -1; 

    /*Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -0.8%;
    margin-left: -0.8%;
}
 
h1.Ba{
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 50px;
    text-align: Center;
    margin-top: -1%;
}
h2.Ba{
    position: relative;
    top:-13%;
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 1.5rem;
    text-align: Center;
}

h1.Be{
    font-family: 'Nunito Sans';
    color: #000000;
    font-size: 25px;
    text-align: Center;
    margin-top: -4%;
}

a.btn{
    position: absolute;
    top: 9%;
    left: 80px; 
    z-index: 1;
}


.InfInc{
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #ffffff;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  

    width: 60%; 
    height: 40%;
    margin: auto;     
}

.center-table {
    margin: 0 auto; /* Centra horizontalmente la tabla */
    width: 100%; 
    height: 100%;
    
}

td.sp{
    font-size: 'Nunito Sans';
    text-align: center; 
    color: #333638;
    font-size: 18px;    
}

.Cate{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #b0c6da;
    box-shadow: 0 9px 18px #00000080; 

    font-family: 'Nunito Sans';
    border-radius: 80px;  

    width: 65%; 
    height: 50%;
    margin: auto;    
}

.celdaImagen{
    /*background-color: #01060a3a;*/
    border-radius: 10%; 
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: -20%;
}

/*.celdaImagen img{
    /*width: 25%;*/
    /*max-width: 45%; 
    max-height: 60%;*/
    /*max-width: 15rem; 
    max-height: 20rem;*/
/*}*/

.TableAjuste{
    width: 100%;
    height: 100%;
}

.InfComent{
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #ffffff;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 3px; 

    width: 70%; 
    height: 20%;
    margin: auto;     
}

.Comentario{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #bbb9b9;

    font-family: 'Nunito Sans';
    border-radius: 10px;  

    width: 100%; 
    height: 100%;
    margin: auto;
    margin-bottom: 1.5%;  
}

.Final {
    text-align: center; /* Centrar horizontalmente */

  }
  .Final table {
    margin: auto; /* Centrar horizontalmente */
    
  }
  .Final td {
    vertical-align: middle; /* Centrar verticalmente */
    padding: 8px;
  }
  .AsignarP {
    width: 100%; /* Ajusta el ancho del textarea al 100% del contenedor */
    height: 30px; /* Ajusta la altura del textarea */
    font-size: 18px; /* Ajusta el tamaño de la letra */
    font-family: 'Nunito Sans';
  }
  
.DiseñoOpc{
    font-family: 'Nunito Sans';
    padding: 10px; 
    font-size: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #d9d9d933; 
    
    width: 100%;
}


.Envio{
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #ffafaf;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 3px; 

    width: 70%;   
    margin: auto;     
}


input[type="submit"] {
    background-color: #0D436B; 
    color: #ffffff;
    border: none;

    padding: 15px 32px;
    text-align: center; 

    display: inline-block; 
    font-size: 20px; 
    margin: 1%;
    margin-top: 2%;

    cursor: pointer;
    border-radius: 10px; 

    width: 30%;
  }

  input[type="submit"]:hover {
    background-color: #2f6a94;
  }