:root{
    background-color: #0D436B;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;

}

  
.TituloBack {
    /*background-color: #ffffffd7;*/
    background-color: rgba(13, 67, 107, 1);
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  
   
    height: 50%;
    width: 80%;
    margin: auto;
    margin-top: -10%;
    z-index: -1;
    

    /*Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1.Ba{
    
    /*color: #0D436B;*/
    color: #ffffff;
    font-size: 60px;
    text-align: Center;
    padding-top: 5%;
    margin-top: -5%;
    margin-bottom: -7%;
}

h2.Ba{
    font-family: 'Nunito Sans';
    /*color: #0D436B;*/
    color: #ffffff;
    font-size: 30px;
    text-align: Center;
    margin-top: -4%;
    

    z-index: 1;
    
}

.flex-container {
    display: flex;
    height: 70%;
    width: 90%;
    margin: auto;
    background-color: #00a4bd71;
    background-color: rgba(237, 244, 252, 1);
    border-radius: 40px;
}

.Apartado-container{
    margin: auto;
    height: 30%;


}


.btn{
    /*background-color: #a9cbdfbe;*/
    background-color: rgba(13, 67, 107, 1);
    border-radius: 10%;
    text-align: center;
    padding: 5% 5% 5% 5% ;
    font-family: 'Nunito Sans';
    font-size: 2rem;
    box-shadow: 0 5px 13px  #002b3f;
    width: 50%;
    font-size: 1.6rem;
    
}

img{
    margin-left: 3rem;
    margin-right: 3rem;
}

.Apartado-container td.btn:hover {
    background-color: #b3cde0;
    cursor: pointer;
}

td.btn a.tbn:hover {
    text-decoration:none ;
    color: rgba(13, 67, 107, 1);;
    
}

td.btn a {
    text-decoration:none ;
    /*color: #0f0964;*/
    color: white;
}