:root{
    background-color: #0D436B;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;

}

  
.TituloBack {
    background-color: #ffffffd7;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  
   
    height: 50%;
    width: 80%;
    margin: auto;
    margin-top: -10%;
    z-index: -1;
    

    /*Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1.Ba{
    font-family: 'Nunito Sans';
    color: #0D436B;
    font-size: 60px;
    text-align: Center;
    padding-top: 5%;
    margin-top: -1%;
    margin-bottom: -7%;
}

h2.Ba{
    font-family: 'Nunito Sans';
    color: #0D436B;
    font-size: 30px;
    text-align: Center;
    margin-top: -4%;
    

    z-index: 1;
    
}

.flex-container {
    display: flex;
    height: 60%;
    width: 90%;
    margin: auto;
    background-color: #00a4bd71;
    border-radius: 40px;
}

.Apartado-container{
    margin: auto;
}


.btn{
    background-color: #a9cbdfbe;
    border-radius: 10%;

    text-align: center;
    padding: 5% 5% 5% 5% ;

    font-size: 20px;
    box-shadow: 0 5px 13px  #002b3f
}

.Apartado-container td.btn:hover {
    background-color: #b3cde0;
    cursor: pointer;
}

td.btn a {
    text-decoration:none ;
    color: #0f0964;
    
}