a.btn{
    position: absolute;
    top: 16.5%;
    left: 80px; 
    z-index: 1;
}

h1.Ba{
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 50px;
    text-align: Center;
}
h2.Ba{
    position: relative;
    top:-18%;
    font-family: 'Nunito Sans';
    color: #ffffff;
    font-size: 20px;
    text-align: Center;
 
    
}

.TituloBack {
    background-color: #0D436B;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  
   
    height: 40%;
    width: 100%;
    
    z-index: -1; 

    /*Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.InfInc{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #e9f1f8;
    font-size: xx-large;
    font-family: 'Nunito Sans';
    border-radius: 80px;  

    height: 30%;
    width: 55%;
    
    margin: auto;
    margin-top: -7%;
    box-shadow: 0 9px 18px #00000080; 
}
td{
    height: 100%;
    width: 30%;
}



.numero1{
    font-size: 110px;
    color: #aa00aa;
    font-family:'Nunito Sans',Arial;
    padding-top: 50%;
    margin-left: -15%;
    
}
.tnormal1{
    font-size: 40px;
    color: #aa00aa;
    font-family:'Nunito Sans',Arial;

    margin: 10% 0 0 -10%;
}
.tnormal2{
    font-size: 20px;
    color: #000000;
    font-family:'Nunito Sans',Arial;
    margin-top: -7%;
    margin-left: -9%;
}


.numero2{
    font-size: 110px;
    color: #00aa33;
    font-family:'Nunito Sans',Arial;
    padding-top: 50%;
    margin-left: 155%;
}
.tnormal3{
    font-size: 40px;
    color: #00aa33;
    font-family:'Nunito Sans',Arial;

    margin: 10% -60% 0 -63%;
    
}
.tnormal4{
    font-size: 20px;
    color: #000000;
    font-family:'Nunito Sans',Arial;
    margin-top: -7%;
    margin-left: -25%;

}


.IncidentesInf{
    display: flex;
    font-family: 'Nunito Sans';
    background-color: #e5e6e7;
    border-radius: 80px;  
    
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 90%;
    height: 8%;

    justify-content: center;    
    align-items: center; 
    box-shadow: 0 1px 10px #00000080; 
}

td.inf {
    text-align: center;
    padding: 2% 100px; /* Espacio igual entre los elementos */
}


.R1{
    display: flex;
    font-family: 'Nunito Sans';
    background-color: #ffffff;
    border-radius: 80px;  
    
    margin: auto;
    margin-bottom: 1%;
    width: 90%;

    justify-content: center;    
    align-items: center; 
    border: 1px dashed #000000;
}



td.Reporte {
    text-align: center;
    padding: 1% 100px; /* Espacio igual entre los elementos */
}

p.pp{
    color: #000000;
    font-size: 20px;
    padding-left: 3%;
    
}
p.sp{
    color: #656F77;
    font-size: 15px;
    margin-left:-15%;
}
.circular{
    margin-left: -70%;
}

.TerminarR{
    background-color: #004f8b;
    color: #ffffff;
    font-family: 'Nunito Sans';
    border-radius: 7px;
    border: -10px solid black;
    margin-left: -90%;
}

button.TerminarR:hover {
    background-color: #4b93c7;
    cursor: pointer;
}




